---
- name: 'Main: Install dependencies'
  ansible.builtin.import_tasks: 'pre-setup.yml'

- name: 'Main: Install nginx'
  ansible.builtin.import_tasks: 'install-nginx.yml'

- name: 'Main: Configure nginx'
  ansible.builtin.import_tasks: 'setup-nginx.yml'

- name: 'Main: Renew Certificates'
  ansible.builtin.import_tasks: 'renew-certs.yml'

- name: 'Main: Configure Fail2Ban'
  ansible.builtin.import_tasks: 'setup-fail2ban.yml'
