{{ ansible_managed | comment }}

[Unit]
Description=Kavita Server
After=network.target
 
[Service]
User=kavita
Group=kavita
Type=simple
WorkingDirectory={{ kavita_installation_dir }}
ExecStart={{ kavita_installation_dir }}/Kavita
TimeoutStopSec=20
KillMode=process
Restart=always
 
[Install]
WantedBy=multi-user.target


[Unit]
Description=Prometheus
After=network-online.target

