<?xml version='1.1' encoding='UTF-8'?>
<!-- Managed by Ansible -->
<github-plugin-configuration plugin="github@1.45.0">
  <configs>
{% for credential in services_jenkins_secret_text_credentials %}
{% if credential['name'] == 'jenkins-ansilbe-lint' %}
    <github-server-config>
      <name>{{ credential['name'] }}</name>
      <apiUrl>https://api.github.com</apiUrl>
      <manageHooks>false</manageHooks>
      <credentialsId>{{ credential['name'] }}</credentialsId>
      <clientCacheSize>20</clientCacheSize>
    </github-server-config>
{% endif %}
{% endfor %}
  </configs>
</github-plugin-configuration>