<?xml version='1.1' encoding='UTF-8'?>
<jenkins.plugins.slack.SlackNotifier_-DescriptorImpl plugin="slack@616.v03b_1e98d13dd">
  <baseUrl></baseUrl>
  <teamDomain>{{ slack_domain }}</teamDomain>
  <tokenCredentialId>{{ slack_token_id }}</tokenCredentialId>
  <botUser>false</botUser>
  <sendAsText>false</sendAsText>
  <iconEmoji></iconEmoji>
  <username></username>
  <room>{{ slack_channel }}</room>
</jenkins.plugins.slack.SlackNotifier_-DescriptorImpl>
