global:
  logging:
{{ zrepl_global_logging | to_nice_yaml(indent=2) | indent(4, true) }}
{% if zrepl_monitoring and zrepl_monitoring | length > 0 %}
  monitoring:
{{ zrepl_monitoring | to_nice_yaml(indent=2) | indent(4, true) }}
{% endif %}
jobs:
{% for job in zrepl_jobs %}
- name: {{ job.name }}
  type: {{ job.type }}
{% if job.type == 'sink' %}
  serve:
    type: tls
    listen: "{{ job.listen | default(':8888') }}"
    ca: {{ zrepl_config_dir }}/ca.crt
    cert: {{ zrepl_config_dir }}/cert.crt
    key: {{ zrepl_config_dir }}/cert.key
    client_cns:
{% for client in job.client_cns %}
      - "{{ client }}"
{% endfor %}
  root_fs: {{ job.root_fs }}
  recv:
    placeholder:
      encryption: {{ job.recv.placeholder.encryption | default('off') }}
{% if job.recv.properties is defined %}
    properties:
{% if job.recv.properties.inherit is defined %}
      inherit:
{% for prop in job.recv.properties.inherit %}
        - "{{ prop }}"
{% endfor %}
{% endif %}
{% if job.recv.properties.override is defined %}
      override:
{% for k, v in job.recv.properties.override.items() %}
        {{ k }}: "{{ v }}"
{% endfor %}
{% endif %}
{% endif %}
{% elif job.type == 'source' %}
  serve:
    type: tls
    listen: "{{ job.listen | default('0.0.0.0:8888') }}"
    ca: {{ zrepl_config_dir }}/ca.crt
    cert: {{ zrepl_config_dir }}/cert.crt
    key: {{ zrepl_config_dir }}/cert.key
    client_cns:
{% for client in job.client_cns %}
      - {{ client }}
{% endfor %}
  filesystems:
{% for filesystem in job.filesystems %}
    "{{ filesystem.path }}": {{ filesystem.policy | default(true) | lower }}
{% endfor %}
  send:
    encrypted: {{ job.send.encrypted | default(false) | lower }}
{% if job.send.compressed is defined %}
    compressed: {{ job.send.compressed | lower }}
{% endif %}
  snapshotting:
    type: periodic
    prefix: {{ job.snapshotting.prefix | default('zrepl_') }}
    interval: {{ job.snapshotting.interval | default('10m') }}
{% elif job.type == 'push' %}
  connect:
    type: tls
    address: {{ job.connect.address }}
    ca: {{ zrepl_config_dir }}/ca.crt
    cert: {{ zrepl_config_dir }}/cert.crt
    key: {{ zrepl_config_dir }}/cert.key
    server_cn: {{ job.connect.server_cn }}
  filesystems:
{% for filesystem in job.filesystems %}
    "{{ filesystem.path }}": {{ filesystem.policy | default(true) | lower }}
{% endfor %}
  send:
    encrypted: {{ job.send.encrypted | default(false) | lower }}
{% if job.send.compressed is defined %}
    compressed: {{ job.send.compressed | lower }}
{% endif %}
  snapshotting:
    type: periodic
    prefix: {{ job.snapshotting.prefix | default('zrepl_') }}
    interval: {{ job.snapshotting.interval | default('10m') }}
{% endif %}
{% if job.type in ['source', 'push'] %}
  pruning:
    keep_sender:
{% for rule in job.pruning.keep_sender %}
      - type: {{ rule.type }}
{% if rule.count is defined %}
        count: {{ rule.count }}
{% endif %}
{% endfor %}
    keep_receiver:
{% for rule in job.pruning.keep_receiver %}
      - type: {{ rule.type }}
{% if rule.count is defined %}
        count: {{ rule.count }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
