{{ ansible_managed | comment }}

[client]
port = 3306
socket = /run/mysqld/mysqld.sock

[mysqld]
port = 3306
bind-address = 0.0.0.0
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
pid-file = /run/mysqld/mysqld.pid

# Logging configuration.
log-error = /var/log/mysql/error.log

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# User is ignored when systemd is used (fedora >= 15).
user = mysql

# http://dev.mysql.com/doc/refman/5.5/en/performance-schema.html
;performance_schema

[mysqldump]
quick
max_allowed_packet = 16M

[mysqld_safe]
pid-file = /run/mysqld/mysqld.pid
