{
  "e": "{{ account.data_privkey.e }}",
  "d": "{{ account.data_privkey.d }}",
  "n": "{{ account.data_privkey.n }}",
  "q": "{{ account.data_privkey.q }}",
  "p": "{{ account.data_privkey.p }}",
  "kty": "{{ account.data_privkey.kty }}",
  "qi": "{{ account.data_privkey.qi }}",
  "dp": "{{ account.data_privkey.dp }}",
  "dq": "{{ account.data_privkey.dq }}"
}
