{
  "body": {
    "status": "valid",
    "contact": [
      "{{ account.data_regr.contact }}"
    ],
    "agreement": "{{ account.data_regr.agreement }}",
    "key": {
      "e": "{{ account.data_regr.key_e }}",
      "kty": "{{ account.data_regr.key_kty }}",
      "n": "{{ account.data_regr.key_n }}"
    }
  },
  "uri": "{{ account.data_regr.uri }}",
  "new_authzr_uri": "{{ account.data_regr.new_authzr_uri }}",
  "terms_of_service": "{{ account.data_regr.terms_of_service }}"
}
