---
- name: "Setup jenkins"
  hosts: jenkins
  become: true
  become_method: sudo
  roles:
    - common
    - node_exporter
    - jenkins
    - packer
    - splunk_forwarder
  vars:
    - services_packer_user: 'jenkins'
