---
- name: "Setup Komga host"
  hosts: komga
  become: true
  become_method: sudo
  roles:
    - common
    - node_exporter
    - nfs_client
    - virtiofs_client
    - komga
    - splunk_forwarder

