---
- name: "Base setup for NAS servers"
  hosts: storage_servers
  become: true
  become_method: sudo
  roles:
    - common
    - node_exporter
    - storage
    - luks_storage
    - zpools
    - zrepl
    - splunk_forwarder
