---
- name: "Setup prometheus"
  hosts: prometheus
  become: true
  become_method: sudo
  roles:
    - common
    - node_exporter
    - virtiofs_client
    - prometheus
    - {role: mktxp, when: inventory_hostname == "prometheus-prod"}
    - splunk_forwarder
