---
- name: "Setup prometheus"
  hosts: prometheus
  become: true
  become_method: sudo
  roles:
    - common
    - node_exporter
    - virtiofs_client
    - prometheus
    - splunk_forwarder
  tasks:
    - name: "Include mktxp role only on prometheus-prod"
    include_role:
      name: mktxp
    when: inventory_hostname == "prometheus-prod"